set_io i_clk B2

set_io o_vsync A2
set_io o_hsync A1

set_io o_blue[1]     B1
set_io o_blue[0]     C2
set_io o_green[1]    C1
set_io o_green[0]    D2
set_io o_red[1]      D1
set_io o_red[0]      E2

# Height: 1.4 inches, width: 0.7 inches
# Programming interface: USB 2.0 full-speed (12 mbit/sec)
# ICE40LP8K FPGA
#     7,680 four-input look-up-tables
#     128 KBit block RAM
#     Phase Locked Loop
#     41 user IO pins
# 8 MBit of SPI Flash
# Onboard 3.3 V (300 mA) and 1.2 V (150 mA) LDO regulators
# Low-Power 16 MHz MEMs Oscillator
#     1.3 mA power when active
#     50 ppm stability.

# If you run tinyprog -m it will list the metadata for any connected BX boards.
# The metadata contains an address map of the SPI flash. There’s a location for
# the user bitstream and another location for user data. If you run tinyprog -u 
# userdata.bin it will program the user data area with your binary data. You 
# have about 6mbit available.
# 
# Here’s an example of what it looks like and how to interpret the data:
# 
# > tinyprog -m
# [
#   {
#     "port": "COM5",
#     "boardmeta": {
#       "hver": "1.0.0",
#       "name": "TinyFPGA BX",
#       "fpga": "ice40lp8k-cm81",
#       "uuid": "83eb5888-ee36-40ef-b954-f23da11f23d9"
#     },
#     "bootmeta": {
#       "bver": "1.0.1",
#       "bootloader": "TinyFPGA USB Bootloader",
#       "update": "https://tinyfpga.com/update/tinyfpga-bx",
#       "addrmap": {
#         "userimage": "0x28000-0x50000",
#         "bootloader": "0x000a0-0x28000",
#         "userdata": "0x50000-0x100000"
#       }
#     }
#   }
# ]
# 
# The metadata is formatted in JSON. It is actually stored directly in the SPI flash in this way
# (except for the serial port name). The bootmeta\addrmap element contains the full address map.
# The userdata element contains the address range of the user data area in the flash. It starts
# at 0x50000 and goes up to but not including 0x100000.

#set_io pin_1 A2
#set_io pin_2 A1
#set_io pin_3 B1
#set_io pin_4 C2
#set_io pin_5 C1
#set_io pin_6 D2
#set_io pin_7 D1
#set_io pin_8 E2
#set_io pin_9 E1
#set_io pin_10 G2
#set_io pin_11 H1
#set_io pin_12 J1
#set_io pin_13 H2
#set_io pin_14 H9
#set_io pin_15 D9
#set_io pin_16 D8
#set_io pin_17 C9
#set_io pin_18 A9
#set_io pin_19 B8
#set_io pin_20 A8
#set_io pin_21 B7
#set_io pin_22 A7
#set_io pin_23 B6
#set_io pin_24 A6
#set_io pin_25 G1
#set_io pin_26 J3
#set_io pin_27 J4
#set_io pin_28 H4
#set_io pin_29_miso H7
#set_io pin_30_cs F7
#set_io pin_31_mosi G6
#set_io pin_32_sck G7
#set_io pin_33 J8
#set_io pin_34 G9
#set_io pin_35 J9
#set_io pin_36 E8
#set_io pin_37 J2
#set_io pin_led B3
#set_io pin_usbp B4
#set_io pin_usbn A4
#set_io pin_pu A3
#set_io pin_clk B2
